/*
 Typed Blog Style Sheet
 Copyright 2015 Christopher Zenzel. All Rights Reserved.
 */

/* Import Fonts */

@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300);

@import url(//fonts.googleapis.com/css?family=Gochi+Hand);

/* Import Lightbox */

@import url(lightbox.css);

/* Modify Site Articles, Headers, and Blog Elements */

article { font-family: 'Open Sans', sans-serif; font-size: 12pt; }

header { margin-top: 15px; margin-bottom: 30px; padding-bottom: 8px; }

h1.site-title { font-family: 'Gochi Hand', cursive; text-shadow: 2px 2px rgba(134, 137, 185, 0.6); font-size: 40px !important; }
.site-title a { color: Navy !important; }

p.site-title-ruler-p { padding-bottom: 0; margin-bottom: 0; text-align: center; }
img.site-title-ruler-img { border: 0; width: 100%; height: auto; }

.site-nav { background: rgba(141, 175, 232, 0.65) !important; box-shadow: 3px 3px rgba(125, 156, 206, 0.65); }
.site-nav > ul { padding: 8px; }
.site-nav > ul > li > a { text-shadow: 2px 2px rgba(185, 189, 255, 0.6); color: Navy; }

.site-tagline { font-family: 'Gochi Hand', cursive; color: Navy; font-style: normal !important; text-shadow: 2px 2px rgba(5, 46, 255, 0.16); font-size: 15pt; }

a.read-more:after { content: " \00BB"; }

.author-bio h3 { text-shadow: 2px 2px rgba(0, 0, 0, 0.37); }

article img { border-radius: 20px; }

article h1, h2, h3, h4 { text-shadow: 2px 2px rgba(0, 0, 0, 0.3); }
article p { text-align: justify; }

footer { margin-bottom: 25px; }

.post-author { border-bottom: 0px !important; }

h1.post-title { padding-bottom: 10px; border-bottom: 1.5px solid rgb(73, 67, 139); }

img.post-title-icon { width: 50px; height: 50px; border-radius: 0 !important; float: right; padding: 6px; }

/* Handwriting for post and page content */

.post-excerpt, .post-content { font-family: 'Gochi Hand', cursive; font-size: 15pt; }
.page-content { font-family: 'Gochi Hand', cursive; font-size: 15pt; }

/* Menu Bar Top */

#myMenuBar { font-family: 'Open Sans', sans-serif; color: White; font-size: 11pt; position: absolute; top: 0px; margin: 0; padding: 10px; background: rgba(8, 30, 147, 0.75); width: 100%; height: 45px; }

#myMenuBar .myMenuBarLeft { float: left; }
#myMenuBar .myMenuBarRight { float: right; }
#myMenuBar .myMenuBarMobile { display: none; }

@media all and (max-width: 680px) {
  #myMenuBar .myMenuBarLeft { display: none; }
  #myMenuBar .myMenuBarRight { display: none; }
  #myMenuBar .myMenuBarMobile { display: block; }
}

/*
 Since we know we have loaded the CSS from the third-party
 source. Now display the menu bar officially
 */
#myMenuBar { display: block !important; }

/*
 Lightbox Container Fixes
 */
div#lightbox a { border-bottom: 0 !important; }

/*
 Container Backgrounds
 */
div.container { background: rgba(244, 244, 255, 0.84) !important; }

body { background-image: url(../images/notebook.jpg) !important; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; }

