header { border-bottom: 1px dashed Navy; margin-bottom: 30px; padding-bottom: 30px; }
h1.site-title { text-shadow: 2px 2px rgba(134, 137, 185, 0.6); }
.site-title a { color: Navy !important; }
.site-nav { background: rgba(176, 187, 239, 0.54); }
.site-nav > ul { padding: 10px; }
.site-nav > ul > li > a { text-shadow: 2px 2px rgba(185, 189, 255, 0.6); color: Navy; }
.site-tagline { color: Navy; }
a.read-more:after { content: " \00BB"; }
.author-bio h3 { text-shadow: 2px 2px rgba(0, 0, 0, 0.37); }
article img { border-radius: 30px; }
article h1, h2, h3, h4 { text-shadow: 2px 2px rgba(0, 0, 0, 0.3); }
